extends layout.pug

block title
    title Lots of Lulz | Tadhana

block content
    div.jumbotron
        div.container
            h1 Lots of Lulz | Tadhana
    div
        each story in stories
            h2=story.title
            h3=story.author
            h3=story.email
            p=story.story
